{% extends 'base.html' %} {% block recherche %} {% endblock recherche %} {% block liste%}

<body>
    
        <h1 class="col-md-7" id="deco">qui sommes nous ?</h1>
   

    <div class="col-md-12">
        <div class="col-md-5 col-md-offset-8">
        <img width="150%" src="http://is3.mzstatic.com/image/thumb/Purple127/v4/05/f5/63/05f56320-26f9-e665-a29f-3701a6922588/source/1200x630bb.jpg"
            alt="">
          </div>
         
        </div>

    


    

</body>
{% endblock liste%}
{% block javascript %}
<script>
    $('#deco').animate({
'font-size':'71px'
    },500);
</script>

{% endblock javascript %}